html {
    background-image: url("better background.jpg");
    background-size: cover;
    font-family: sans-serif;
    color: #4A454A;
}



.container {
    display: flex;
}
.container div {
    flex-basis: 100px;
}
.container div p {
    font-size: 20px;
}
.container h1{
    text-align: center;
}
.html {
    text-align: center;
}
