html{
    text-align: center;
    font-family: sans-serif;
    background-color: darkcyan;
}

p1{
    padding-bottom: 20px; 
    padding-top: 10px;
}

div1{
    padding-top: 20px; 

}

div2{
    padding-bottom: 20px;
}

div3{
    padding-top: 20px;
}

