body {
    background-image: url("roots-background.png");
    background-size: cover;
    font-family: Luminari, fantasy;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.intro{
    margin: 60px; 

    
}


.intro p1{
    margin-bottom: 20px; 
    text-align: left; 
    margin-left: 200px; 
    font-size: 25px;
}

.intro p2{
    text-align: center; 
    margin-top: 20px; 
    text-indent: 10px
}

.intro p3{
    text-align: center; 
    margin-top: 20px;
}

.intro p4{
    margin-top: 20px;

}

.intro p5{ 
    margin-top: 20px;

}

.intro p6{
    margin-top: 20px;

}

.intro p7{
    margin-top: 20px;
    text-align: center; 
    font-size: 25px;
}
