html{
    text-align: center;
    font-family: sans-serif;
    text-color: gray;
    background-image: url("coolerbackground.png");
}

html div.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}



