html {
    background-image: url("better background.jpg");
    background-size: cover;
    font-family: sans-serif;
    color: #4A454A;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}



.container { /* what happens here overrides everything in the html {} one */
      /*  display: flex; /* hey line things up */
      /*  flex-direction: columns; /* ....in columns!! */
      /*  align-items: center; /* be in the middle */ 
    
}
.container div { /* TEXT */
    display: flex;
    
}
.container div p { /* NUMBERS */
    color: #3DAEDF; 
    font-size: 60px;
    margin-bottom: -15;
    
}
.container h1{ 
   /* display: flex;
    flex-direction: column;  */
    align-items: center; /* Center vertically */
    justify-content: flex-start; /* Align text to the top */
    font-size: 70 px
    
}
.html div class= link{
    justify-content: center;
    text-align: center;
}
