body {
    background-image: url("roots2.png");
    background-size: cover;
    font-family: Luminari, fantasy;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-size: 20px;
}



h1 {
    text-align: center;
    margin-bottom: 20px;
}

.intro {
    margin: 100px; 
}

.intro p1 {
    margin-bottom: 20px; 
    text-align: left; 
    margin-left: 200px; 
    font-size: 30px;
}

.intro p2 {
    text-align: center; 
    margin-top: 20px; 
    text-indent: 500px;
}

.intro p3 {
    text-align: center; 
    padding-top: 20px;
}

.intro p4 {
    
}

.intro p5 { 
    
}

.intro p6 {
    
}

h2 {
    text-align: center; 
    margin-top: 0px; 
}



table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 15px; 
}


td {
  font-size: 25px;
  margin: auto; 
  text-align: center;

}



thead {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  
}




