body{
  font-family: Luminari, fantasy;

  text-align: center;
  
  background-image: url("spaceworm.png");
  /*width: 1366px; 
  height: 768px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #615092;
}


h1{
  color: #615092;
  font-size: 34px;
}

p{
  color: #6E7AB8;
  font-size: 23px;
}


/* SECTION 1 YK HOW IT IS */

.answers1 {
  color: #6E7AB8;
  font-family: Luminari, fantasy;
  text-align: left;
  font-size: 23px;
  margin-left: 20px;
}

.answers1 label{
  color: #6E7AB8;
  font-size: 23px;
}
.answers1 span{
  display: block;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 15px;
  color: #615092;
}

.answers1 input{
  width: 100px;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 500px; 
  margin-left: 30px;
}





/* SECTION 2 */

.answers2 {
  color: blue;
  text-align: right;
  padding-top: 50px;
}

.answers2 label{
  width: 30px;
  font-size: 23px;
  margin-right: 30px;
  margin-left: 400px;
}
.answers2 span{
  display: block;
  margin-bottom: 10px;
  margin-right: 30px;
}

.answers2 input{
 width: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 1550px; 
  
}




/* SECTION 3 */


.answers3 {
  padding-top: 50px;
  text-align: left;
  margin-right: 450px;
}


.answers3 label{ 
  font-size: 23px;

}

.answers3 span{ 
  display: block;
  margin-bottom: 10px;
  margin-left: 25px
}

.answers3 input{
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px; 
  width: 100px
}




