html {
  font-family: Luminari, fantasy;

  background-image: url("minerals-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  margin-left: 350px;
}

h2 {
  margin-left: 300px;
  font-size: 25px;

}

body {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  min-height: 100vh; 
  margin-left: 400px;
  
}

body div{ 
  text-indent: 25px;
  color: #082449;
}



.p2 {
  text-align: center;
  justify-content: center;
}

.p3 {
  
} 

.p4 {
  
} 

.p5 {
  font-size: 25px;
  
  text-indent: 20px;
}



.p10{
  margin-left: 360px;
}
