body {
    background-image: url("worrybackground.png"); 
    background-size: cover;
    font-family: Tahoma, sans-serif;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-size: 20px;
}


.text::before {
    display: block;
    height: 100%; /* Set height to match text height */
    position: absolute; /* Position absolute to overlay the text */
    background-color: inherit; /* Inherit background color */
    animation: typing 4s steps(36) forwards; /* Adjust duration and steps as needed */
}

/*
.text::before{
    content: " "; 
    display: block; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 0;
    border-right: 5px solid transparent; 
    white-space: nowrap; 
    overflow: hidden; 
    animation: 
        typing 2s steps(32) forwards;  
*/

@keyframes typing { 
    from { width: 0 } 
}
